body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #444;
    line-height: 1.9;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.header-background {
    background-image: url(../images/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    position: relative;
    border-radius: 0px 0px 150px 150px;
}

.header-logo {
    margin-top: 30px;
    height: 80px;
    margin-bottom: 1rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    width: 100%;
    z-index: 100;
    background-color: none;
    position: absolute;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #D2D2D2;
    transition: all 0.3s;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    color: #FFFFFF;
    transition: all 0.3s
    
}

.nav__link--btn {
    padding: 10px 10px;
    border-radius: 3rem;
    background-color: none;
    border: 1px solid #FFFFFF;
}


.nav-tags {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    max-width: 1420px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    justify-content: space-around;
    color: rgb(0, 0, 0);
}

.nav-items {
    margin-left: 4rem;
}

.nav__link--btn {
    padding: 10px 10px;
    border-radius: 3rem;
    background-color: none;
}

.middle-text {
    max-width: 628px;
    width: 100%;
    height: 388px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.middle-header {
    font-size: 55px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.middle-text p {
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.middle-btn {
    padding: 10px 30px;
    border-radius: 3rem;
    background-color: #dc512e;
    border: none;
    color: #FFFFFF;
    margin-top: 20px;
    cursor: pointer;
}

.row {
    max-width: 1100px;
    width: 100%;
    height: 252px;
    position: absolute;
    bottom: -136px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.row-row {
    max-width: 250px;
    width: 100%;
    height: 252px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row-img {
    height: 50px;
}

.row-row h2 {
    font-size: 18px;
    color: #3B3735;
    font-family: 'Roboto', sans-serif;
}

.row-row p {
    font-size: 14px;
    color: #3B3735;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


/* section */

.section {
    padding: 10rem 3rem;
    border-top: 1px solid #D2D2D2;
    transition: transform 1s, opacity 1s;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0px;
    
}

.section__title {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.section-logo {
    margin-top: 50px;
    height: 100px;
    margin-bottom: 1rem;
}

.section--header {
    font-size: 40px;
    color: #3B3735;
    font-family: 'Roboto', sans-serif;
}

.price-grid {
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 1500px;
    justify-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    max-width: 250px;
    width: 100%;
    height: 470px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.card-img {
    max-width: 170px;
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.card-button {
    position: absolute;
    margin-top: 10px;
    max-width: 120px;
    width: 100%;
    height: 30px;
    background-color: #FFFFFF;
    color: black;
    text-align: center;
    bottom: 280px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.card-button h2 {
    margin: 10px;
    font-size: 18px;
    color: #E76F51;
    font-family: 'Roboto', sans-serif;
}

.card p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.card-header {
    max-width: 220px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header-h2 {
    color: #070707;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.btn-card {
    padding: 8px 30px;
    border-radius: 3rem;
    background-color: #e8e2e2;
    border: none;
    cursor: pointer;
}


/* email */
.email-div {
    background-image: linear-gradient(to top left, #f5e6e2, #FFD2C6);
    max-width: 900px;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.email-header-div {
    max-width: 300px;
    width: 100%;
    height: 200px;
}

.email-div img {
    max-width: 400px;
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

.email-div input {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.email-div h2 {
    font-size: 25px;
    color: #3B3735;
    font-family: 'Roboto', sans-serif;
}

.email-div p {
    font-size: 17px;
    color: #3B3735;
    font-family: 'Roboto', sans-serif;
}

/* footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
    border-radius: 30px 30px 0px 0px;
}

.footer__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer__item {
    margin-right: 20px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__item a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.footer-logo {
    margin-top: 30px;
    height: 100px;
    margin-bottom: 1rem;
}


/* modal */

.hidden {
    visibility: hidden;
    opacity: 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width:100%;
    height:450px;
    background-image: linear-gradient(to top left, #f0d6cf, #FFFFFF);
    box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
    z-index: 1000;
    transition: all 0.5s;
    border-radius: 30px;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none;
}

.modal__header {
    font-size:30px;
    margin-bottom: 10px;
    margin: 0 auto;
}

.highlight {
    position: relative;
}

.modal__form {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

.modal__form input {
    font-size: 20px;
    max-width: 300px;
    width:100%;
    height:40px;
    border: 1px solid #E76F51;
    border-radius: 30px;
    margin-top: 25px;
}

.modal__form ::placeholder{
    font-size:20px;
    padding-left:10px;
}

.modal__form button {
    max-width: 255px;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
    transition: all 0.5s;
}

.cookie{
    background-color: #5ec576;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color:#ffffff;
    font-size:1.5rem;
    font-weight: 400;
    border-radius: 30px;
}